.category__submenu {
    position: absolute;
    left: 0;
    min-width: 81rem;
    height: 35rem;
    top: calc(100% + .10rem);
    background-color: #fff;
    color: #777;
    padding: .75rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    transform: translateY(-1px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.category__submenu li {
    cursor: pointer;

}


.category__submenu.clicked {
    display: none;
}

.category__submenu li a:hover {
    background: rgb(251, 61, 40, .1);
    padding: 10px;
    border-radius: 8px;
}
